body{
    text-align: center;
    margin: auto;
    margin-top: auto;
    background-color: #240869;
    color: #f8f0f0;
    padding: 15%;
}
#genero{
    display:block
}
#anos{
    display: none;
}
button{
    border-radius: 17px;
}
#reset{
    border-radius: 17px;
    display: none;
}
img{
    height: 255px;
}
